<div class="modal fade" id="<%= "#{modal_name}" %>" tabindex="-1" role="dialog" aria-labelledby="<%= "#{modal_name}" %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pizza Form</h4>
      </div>
      <div class="modal-body">
        <% if new_pizza %>
          <%= form_for(pizza) do |f| %>
              <%= render "form_body", pizza: pizza, f: f, toppings: toppings %>
              <%= render "modal-form-footer", f: f, message: "Create Pizza" %>
          <% end %>
        <% else %>
          <%= form_for(pizza, url: pizza_path(pizza.id), method: :patch) do |f| %>
            <%= render "show", pizza: pizza %>
            <%= render "form_add_toppings", f: f, toppings: toppings %>
            <%= render "modal-form-footer", f: f, message: "Update Pizza" %>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
</div>