<p id="notice"><%= notice %></p>

<h1>Pizzas</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newPizza">
  Create New Pizza
</button>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#pizzaToppings">
  Show Toppings
</button>

  <!-- Modal for Pizza Description -->
  <%= render 'modal-form', pizza: @new_pizza, toppings: @toppings, modal_name: "newPizza" %>

  <!-- Modal for Pizza Toppings -->
  <%= render 'toppings/modal-toppings', toppings: @toppings, new_topping: @new_topping  %>

<table class="table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td><%= pizza.name %></td>
        <td><%= pizza.description %></td>
        <td>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target=<%= "#pizza#{pizza.id}Modal"%>>
            Show/Edit Pizza
          </button>
          <%= render 'modal-form', pizza: pizza, toppings: @toppings, modal_name: "pizza#{pizza.id}Modal" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @pizzas, renderer: BootstrapPagination::Rails %>